body{
    margin: auto;
  }
  #main{
    background-color: #ececec;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
  }
  #title{
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
  }
  #sub-title{
    text-align: center;
    font-size: 15px;
  }
  #img-div{
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    background-color: light blue;
  }
  #img-div > img{
    max-width: 40%;
  }
  #img-caption{
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
  }
  #tribute-info{
    max-width: 500px;
    margin: auto;
  }
  #tribute-info > h4{
    text-align: center;
    margin: 20px 0px 0px 70px;
  }
  #tribute-info > ul >  li{
    margin: 11px 0;
    font-size: 18px;
  }
  #tribute-info >  ul{
    margin: 30px 0;
  }
  .small{
    margin: 10px 0 0 20px;
    font-size: 18px;
  }
  .hard{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin: 20px 0px 0px 20px;
  }
  
  @media(max-width:767px){
    #tribute-info > h4{
      font-size: 15px;
      margin: 20px 0px 0px 30px;
    }
    #img-caption{
      font-size: 13px;
    }
    .hard{
      font-size: 13px;
    }
    .small{
      font-size: 13px;
      margin-left: 35px;
    }
    #tribute-info > ul > li{
      font-size: 13px;
    }
  }
